body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-557px;
  width:440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:339px;
  width:64px;
  height:64px;
  display:flex;
}
#u2259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:26px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:24px;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:435px;
  width:144px;
  height:38px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:26px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:24px;
}
#u2260 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:center;
  line-height:22px;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:489px;
  width:440px;
  height:22px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:center;
  line-height:22px;
}
#u2261 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:473px;
  width:347px;
  height:16px;
  display:flex;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u2262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:265px;
  width:155px;
  height:74px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u2263 .text {
  position:absolute;
  align-self:flex-start;
  padding:12px 0px 40px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:101px;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:164px;
  width:173px;
  height:101px;
  display:flex;
  opacity:0.93;
}
#u2264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
