body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-253px;
  width:697px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:587px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:137px;
  width:375px;
  height:587px;
  display:flex;
}
#u1368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:103px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:371px;
  width:111px;
  height:103px;
  display:flex;
}
#u1370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:93px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:376px;
  width:103px;
  height:93px;
  display:flex;
  color:#00FFFF;
}
#u1371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:415px;
  width:57px;
  height:15px;
  display:flex;
  text-align:center;
}
#u1372 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:148px;
  width:20px;
  height:20px;
  display:flex;
}
#u1373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:73px;
  width:375px;
  height:64px;
  display:flex;
}
#u1376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:81px;
  width:360px;
  height:11px;
  display:flex;
}
#u1377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 186, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#09BAE8;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:680px;
  width:125px;
  height:44px;
  display:flex;
  color:#09BAE8;
}
#u1379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:680px;
  width:125px;
  height:44px;
  display:flex;
  color:#098AE8;
}
#u1380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:2px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:723px;
  width:125px;
  height:1px;
  display:flex;
  color:rgba(0, 0, 0, 0.509803921568627);
}
#u1381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.505882352941176);
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:691px;
  width:32px;
  height:23px;
  display:flex;
  color:rgba(0, 0, 0, 0.505882352941176);
}
#u1382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1382_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(9, 186, 232, 0.996078431372549);
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:691px;
  width:33px;
  height:23px;
  display:flex;
  color:rgba(9, 186, 232, 0.996078431372549);
}
#u1383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.505882352941176);
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:691px;
  width:32px;
  height:23px;
  display:flex;
  color:rgba(0, 0, 0, 0.505882352941176);
}
#u1384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1384_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:107px;
  width:22px;
  height:23px;
  display:flex;
}
#u1385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:105px;
  width:79px;
  height:27px;
  display:flex;
  font-size:18px;
}
#u1387 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:2px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:131px;
  width:73px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.148131561913031deg);
  -moz-transform:rotate(-0.148131561913031deg);
  -ms-transform:rotate(-0.148131561913031deg);
  transform:rotate(-0.148131561913031deg);
}
#u1389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#02A7F0;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:105px;
  width:79px;
  height:27px;
  display:flex;
  font-size:18px;
  color:#02A7F0;
}
#u1390 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:412px;
  width:23px;
  height:21px;
  display:flex;
}
#u1393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:415px;
  width:17px;
  height:15px;
  display:flex;
  color:#D9001B;
}
#u1394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:418px;
  width:5px;
  height:9px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u1395 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:205px;
  width:23px;
  height:21px;
  display:flex;
}
#u1398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:208px;
  width:17px;
  height:15px;
  display:flex;
  color:#D9001B;
}
#u1399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:211px;
  width:5px;
  height:9px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u1400 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:208px;
  width:181px;
  height:15px;
  display:flex;
}
#u1401 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:21px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:205px;
  width:228px;
  height:21px;
  display:flex;
  color:#80FFFF;
}
#u1403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:208px;
  width:210px;
  height:15px;
  display:flex;
}
#u1404 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
