body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-563px;
  width:440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:339px;
  width:64px;
  height:64px;
  display:flex;
}
#u2092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:449px;
  width:322px;
  height:24px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u2094 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2094_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:center;
  line-height:22px;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:489px;
  width:440px;
  height:44px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:center;
  line-height:22px;
}
#u2095 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:473px;
  width:347px;
  height:16px;
  display:flex;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u2096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:573px;
  width:96px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2098 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2098_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u2099 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:573px;
  width:96px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u2099 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2099_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u2100 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:265px;
  width:155px;
  height:74px;
  display:flex;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u2100 .text {
  position:absolute;
  align-self:flex-start;
  padding:12px 0px 40px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:101px;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:164px;
  width:173px;
  height:101px;
  display:flex;
  opacity:0.93;
}
#u2101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
