body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-253px;
  width:697px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:587px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:137px;
  width:375px;
  height:587px;
  display:flex;
}
#u1406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:148px;
  width:20px;
  height:20px;
  display:flex;
}
#u1407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:73px;
  width:375px;
  height:64px;
  display:flex;
}
#u1410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:81px;
  width:360px;
  height:11px;
  display:flex;
}
#u1411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 186, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#09BAE8;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:680px;
  width:125px;
  height:44px;
  display:flex;
  color:#09BAE8;
}
#u1413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#098AE8;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:680px;
  width:125px;
  height:44px;
  display:flex;
  color:#098AE8;
}
#u1414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:2px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:723px;
  width:125px;
  height:1px;
  display:flex;
  color:rgba(0, 0, 0, 0.509803921568627);
}
#u1415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.505882352941176);
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:691px;
  width:32px;
  height:23px;
  display:flex;
  color:rgba(0, 0, 0, 0.505882352941176);
}
#u1416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1416_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(9, 186, 232, 0.996078431372549);
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:691px;
  width:33px;
  height:23px;
  display:flex;
  color:rgba(9, 186, 232, 0.996078431372549);
}
#u1417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.505882352941176);
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:691px;
  width:32px;
  height:23px;
  display:flex;
  color:rgba(0, 0, 0, 0.505882352941176);
}
#u1418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1418_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:107px;
  width:22px;
  height:23px;
  display:flex;
}
#u1419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:90px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:404px;
  width:93px;
  height:90px;
  display:flex;
}
#u1422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:81px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:409px;
  width:86px;
  height:81px;
  display:flex;
  color:#00FFFF;
}
#u1423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:442px;
  width:48px;
  height:13px;
  display:flex;
  text-align:center;
}
#u1424 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:83px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:253px;
  width:225px;
  height:83px;
  display:flex;
  opacity:0.93;
}
#u1425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:346px;
  width:133px;
  height:46px;
  display:flex;
  opacity:0.93;
}
#u1426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:105px;
  width:79px;
  height:27px;
  display:flex;
  font-size:18px;
}
#u1428 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:2px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:131px;
  width:73px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.148131561913031deg);
  -moz-transform:rotate(-0.148131561913031deg);
  -ms-transform:rotate(-0.148131561913031deg);
  transform:rotate(-0.148131561913031deg);
}
#u1430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#02A7F0;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:105px;
  width:79px;
  height:27px;
  display:flex;
  font-size:18px;
  color:#02A7F0;
}
#u1431 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:431px;
  width:23px;
  height:21px;
  display:flex;
}
#u1434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:434px;
  width:17px;
  height:15px;
  display:flex;
  color:#D9001B;
}
#u1435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:437px;
  width:5px;
  height:9px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u1436 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:205px;
  width:23px;
  height:21px;
  display:flex;
}
#u1439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:208px;
  width:17px;
  height:15px;
  display:flex;
  color:#D9001B;
}
#u1440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:211px;
  width:5px;
  height:9px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u1441 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:208px;
  width:181px;
  height:15px;
  display:flex;
}
#u1442 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:21px;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:205px;
  width:228px;
  height:21px;
  display:flex;
  color:#80FFFF;
}
#u1444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:208px;
  width:210px;
  height:15px;
  display:flex;
}
#u1445 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
